---
import Container from "@components/Container.astro";
import Link from "@components/Link.astro";
import { ABOUT, SITE, SOCIALS } from "@consts";
import Layout from "@layouts/Layout.astro";
---
<Layout title={ABOUT.TITLE} description={ABOUT.DESCRIPTION}>
  <Container>
    <aside >
      <div class="space-y-16">
        <section class="space-y-6">
          <h2 class="animate text-2xl font-semibold text-[#2C2A28] dark:text-white">
            About Me
          </h2>
          <article class="space-y-4">
            <p class="animate">
              I'm Nguyen Tuan Hiep <span
                class="italic">(ithaqua'kr)</span>, an engineer focused on
              designing, building, and maintaining scalable business platforms.
              I’m currently working full-time while continuously learning to
              improve myself.
            </p>
            <p class="animate">
              I’m also a terminal guy and a fan of FOSS.
            </p>
            <p class="animate">
              Now I spend my days working full-time, learning new things, and
              always trying to improve, one step at a time.
            </p>
          </article>
        </section>

        <section class="space-y-6">
          <h2 class="animate text-2xl font-semibold text-[#2C2A28] dark:text-white">
            My Journey
          </h2>
          <article class="space-y-4">

          </article>
        </section>

        <section class="space-y-6">

          <h2 class="animate text-2xl font-semibold text-[#2C2A28] dark:text-white">
            Get in Touch
          </h2>
          <p class="animate">
            This space is where I share what I learn, explore new ideas, and
            document my journey in tech. If you're curious about something or
            just want to catch up, feel free to drop me a line on social
            media or send me an email.
          </p>
          <article>
            <ul class="animate not-prose flex flex-wrap gap-2">
              {
                SOCIALS.map((SOCIAL) => (
                  <li class="flex gap-x-2 text-nowrap">
                    <Link
                      href={SOCIAL.HREF}
                      external
                      aria-label={`${SITE.TITLE} on ${SOCIAL.NAME}`}
                    >
                      {SOCIAL.NAME}
                    </Link>
                    {"/"}
                  </li>
                ))
              }
              <li class="line-clamp-1">
                <Link
                  href={`mailto:${SITE.EMAIL}`}
                  aria-label={`Email ${SITE.TITLE}`}
                >
                  {SITE.EMAIL}
                </Link>
              </li>
            </ul>
          </article>
        </section>
      </div>
    </aside>
  </Container>
</Layout>
