---
import Layout from "@layouts/Layout.astro";
import Container from "@components/Container.astro";
import { SITE, HOME, SOCIALS } from "@consts";
import Link from "@components/Link.astro";
---
<Layout title={HOME.TITLE} description={HOME.DESCRIPTION}>
  <Container>
    <aside >
			<h1
				class='animate w-full text-start text-[min(12vw,72px)] font-medium leading-[1.0] tracking-[-2px] sm:tracking-[-4px]'>
        meet @ithaqua'kr
				<span class='text-gray-500 dark:text-gray-400'>Software Engineer</span>
			</h1>
      <div class="space-y-16">
        <section>
          <article class="space-y-4">
            <p class="animate">
              👋 Hi there! I’m Nguyen Tuan Hiep <span class="italic">(ithaqua'kr)</span>, a software engineer with
              experience across various roles including full-stack, SRE, and
              DevOps. I mainly focus on backend development for cloud
              ecosystems, while also working on system administration,
              operations, and optimization.
            </p>
            <p class="animate">
              I hold a Master’s in Information Systems and spend my days working full-time while constantly learning and leveling up.
            </p>
            <p class="animate">
              I’m a big fan of the NeoVim ecosystem, the terminal, and everything FOSS. 
            </p>
            <p class="animate">
              This space is where I share what I learn, explore new ideas,
              and document my journey in tech. If you’re curious about
              something or just want to catch up, feel free to drop me a line
              on social media or send me an email.
            </p>
            <ul class="animate not-prose flex flex-wrap gap-2">
              {
                SOCIALS.map((SOCIAL) => (
                  <li class="flex gap-x-2 text-nowrap">
                    <Link
                      href={SOCIAL.HREF}
                      external
                      aria-label={`${SITE.TITLE} on ${SOCIAL.NAME}`}
                    >
                      {SOCIAL.NAME}
                    </Link>
                    {"/"}
                  </li>
                ))
              }
              <li class="line-clamp-1">
                <Link
                  href={`mailto:${SITE.EMAIL}`}
                  aria-label={`Email ${SITE.TITLE}`}
                >
                  {SITE.EMAIL}
                </Link>
              </li>
            </ul>
          </article>
        </section>
      </div>
    </aside>
  </Container>
</Layout>
