---
import Container from "@components/Container.astro";
import Link from "@components/Link.astro";
import { HOME, SITE, SOCIALS } from "@consts";
import Layout from "@layouts/Layout.astro";
---
<Layout title={HOME.TITLE} description={HOME.DESCRIPTION}>
  <Container>
    <aside >
			<h1
				class='animate w-full text-start text-[min(12vw,86px)] font-medium leading-[1.0] tracking-[-2px] sm:tracking-[-4px]'>
        meet @ithaqua'kr
        <br>
				<span class='text-gray-500 dark:text-gray-400'>Platform Engineer</span>
			</h1>
      <div class="space-y-16">
        <section>
          <article class="space-y-4">
            <p class="animate">
              👋 Hi there! I’m Nguyen Tuan Hiep <span
                class="italic">(ithaqua'kr)</span>, a Platform Engineer
              with expertise in building and operating scalable cloud-native
              platforms. I hold an M.Eng in Information Systems and am based in
              Ha Noi. I specialize in designing backend services,
              developing automation tools, and streamlining deployment
              processes for reliable and high-performance environments.
            </p>
            <p class="animate">
              I’m a big fan of NeoVim, Terminal, and FOSS. I’m all about making
              engineering work easier, simpler, and more productive.
            </p>
            <p class="animate">
              I spend my days working full-time, learning new things, and
              always trying to improve, one step at a time.
            </p>
            <p class="animate">
              This space is where I share what I learn, explore new ideas, and
              document my journey in tech. If you’re curious about something or
              just want to catch up, feel free to drop me a line on social
              media or send me an email.
            </p>
            <ul class="animate not-prose flex flex-wrap gap-2">
              {
                SOCIALS.map((SOCIAL) => (
                  <li class="flex gap-x-2 text-nowrap">
                    <Link
                      href={SOCIAL.HREF}
                      external
                      aria-label={`${SITE.TITLE} on ${SOCIAL.NAME}`}
                    >
                      {SOCIAL.NAME}
                    </Link>
                    {"/"}
                  </li>
                ))
              }
              <li class="line-clamp-1">
                <Link
                  href={`mailto:${SITE.EMAIL}`}
                  aria-label={`Email ${SITE.TITLE}`}
                >
                  {SITE.EMAIL}
                </Link>
              </li>
            </ul>
          </article>
        </section>
      </div>
    </aside>
  </Container>
</Layout>
